<h1> Get Help </h1>

<h4 class="subheader"> Getting help is the first step toward recovery </h4>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Phone Number</th>
		<th>Website</th>
	</tr>
	<tr>
		<td>RAINN</td>
		<td>1-800-656-4673</td>
		<td><a href="https://www.rainn.org/get-help/national-sexual-assault-hotline">Link</a></td>
	</tr>
	<tr>
		<td>National Child Sexual Abuse Helpline</td>
		<td>866-367-5444</td>
		<td><a href="http://www.d2l.org/site/c.4dICIJOkGcISE/b.6069291/k.502C/National_Child_Sexual_Abuse_Helpline.htm">Link</a></td>
	</tr>
	<tr>
		<td>Department of Defense Safe Helpline</td>
		<td>877-995-5247</td>
		<td><a href="https://safehelpline.org/about-dod-safe-helpline">Link</a></td>
	</tr>
	<tr>
		<td>Safe Horizon</td>
		<td>212-227-3000</td>
		<td><a href="http://www.safehorizon.org/page/call-our-hotlines-9.html">Link</a></td>
	</tr>
</table>