<h1> Facts </h1>
<p class="subheader"> <a href="https://www.rainn.org/statistics"> Source</a></p>

<h3> Did you know that ... </h3>

<p><strong> 44% </strong> of victims are under 18? </p>
<p><strong> 80% </strong> are under 30? </p>
<p>every <strong> 107 seconds </strong> an another American is sexually assaulted? </p>
<p>every year, <strong> 293,000 people </strong> are sexually assaulted </p>
<p><strong>98%</strong> of rapists will never spend time in prison?</p>
<p><strong>2/3</strong> of assaults are committed by someone who knows the victim?</p>
<p><strong>38%</strong> of rapists are a friend or aquaintance?</p>
