
<div class="mainBox">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="center">Welcome to SAME, the Sexual Assault eMpathy Experience</h2>
			<h5  class="italic center"> a wearable that helps you support victims by feeling their story</h5>
		</div>
		<div class="panel-body"> 
			<h4 class="center">
				**TRIGGER WARNING** Those who are victims of sexual assault may not want to use or see a demo of this tool.
			</h4>
			<br>
			<h5>
				SAME, the Sexual Assault eMpathy Emulator, tells the story of a sexual assault survivor. Don the SAME T-shirt, and you enter the survivors body.  With each step through the frames of the story you tangibly experience the survivor’s flashback of the assault.
			</h5>
			<h5>
				The story begins with a friend who, seemingly innocuously, touches her friend (the survivor)’s arm. This touch triggers a flashback of the survivor’s assault. To continue through each frame of the story, you must mimic the attacker’s actions on your own body. For example, if the victim is being choked, you should move your hand up to your neck to mimic a choking gesture — the application will recognize your pressure on the SAME shirt and progress the story. 
			</h5>
			<h5>	
				SAME has three target uses: to help secondary survivors support and care for the victim, to prevent sexual assault, and to enhance the support provided by helpline respondents and Title IX representatives.
			</h5>
			<h5>
				The first target use of SAME is to help secondary survivors (the parents, significant others or even friends of the survivor) better empathize with the survivor by providing a controllable, safe, way for them to tangibly understand their loved one’s experiences. This can serve as a tool to help secondary survivors increase their awareness of potential triggers (actions/situations/etc.) such as not asking for permission before casually touching a survivor.
			</h5>
			<h5>
				A second target use of SAME is as a sexual assault prevention mechanism. If implemented in a health class or collegiate sexual assault awareness training seminar, SAME could help potential attackers gain empathy for their potential victims. Finally, similar to the first target use, SAME could also be used to enhance the support provided by helpline staff and Title IX representatives by helping them better emphasize with the victims they support.
			</h5>
		</div>
	</div>
</div>
