html,body,
    h1,h2,h3,h4,h5,h6,
    input,
    button,
    select,
    textarea {
	font-family: 'Raleway', sans-serif !important;
}

body { 
    padding-top: 65px; 
    width: 100%
    height:100%;
}

.subheader {
	margin-bottom: 15px;
	margin-top: 15px;
	font-style: italic;
}

.center {
	text-align: center;
}

#content {
	width: 850px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.imgbox {
	float: left;
	margin-right: 30px;
	width: 600px;
}

#scenario {
	overflow: hidden;
}

div:focus {
	outline: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.instrBox {
	text-align: center;
	width:100%;
	margin-bottom: 5px;
	border: 2px solid black;
}

.blocky {
	margin-left: 23%;
	border-left: 2px solid 	#18bc9c;
	padding-left: 10px;
}

.well {
	border: 1px solid rgba(24, 188, 156, 0.4) !important;
	margin-bottom: 5px !important;
}

.navbar-nav {
	margin-left: 40px !important;
}

.navbar li {
	margin-left: 25px;
	margin-right: 25px;
}

.ribbon {
	float: left;
	width: 30px;
}

.ribbon img {
	height: 100%;
	width: 100%;
	padding-top: 10px;
	margin-left: 100px;
}