body { 
    padding-top: 65px; 
}

.subheader {
	margin-bottom: 10px;
	font-style: italic;
}

.center {
	text-align: center;
}

.imgbox {
	margin-left: 20%;
	margin-right: 25%;
}

div:focus {
	outline: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.instrBox {
	text-align: center;
	width:100%;
	margin-bottom: 5px;
}

.blocky {
	margin-left: 23%;
	border-left: black solid 1px;
	padding-left: 10px;
}